body{
    background-color: black; font-size:20px; font-family: 'Gochi Hand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.postcard{
    background-color: rgb(252, 252, 252);
    width: 30vw;
    height: 35vh;
    padding: 1rem;
}

.postcard-header{
        display: flex;
        justify-content: space-between;
    }
    .header-image-container img{
       width: 5rem;
       margin-right: 1rem;
    }
    .header-text-container h1{
       margin-left: 1rem;
    }
    .postcard-body{
        display: flex;
        /* justify-content: ; */
    }
.left-part{
    margin-left: 1rem;
}
.rigth-part{
    margin-right: 1rem;
}
.postcard-footer{
    display: flex;
    justify-content: center;
}


